@model CloudStore.Models.ApplicationRole

@{
    ViewBag.Title = "Delete role";
}

<h1>Do you want to delete this role: <b>@Model.Name</b>?</h1>

@using (Html.BeginForm())
{
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-dark" href="@Url.Action("GetRole", "Admin")">Back</a>
    </div>
}


