@model CloudStore.Models.StatusOrder

@{
    ViewBag.Title = "Status order deleting";
}

<h1>Are you sure you want to delete status order: <b>@Model.StatusOrderName</b>?</h1>

@using (Html.BeginForm())
{
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-default" href="@Url.Action("GetStatusOrder", "Admin")">Back</a>
    </div>
}

