@model CloudStore.Models.Product

@{
    ViewBag.Title = "Product deleting";
}

<h1>Are you sure you want to delete product: <b>@Model.ProductName</b>?</h1>

@using (Html.BeginForm())
{
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-default" href="@Url.Action("GetProduct", "Admin")">Back</a>
    </div>
}

