@model CloudStore.Models.PaymentMethod

@{
    ViewBag.Title = "Удаление способа оплаты";
}

<h1>Вы точно хотите удалить способ оплаты: <b>@Model.PaymentMethodName</b>?</h1>

@using (Html.BeginForm())
{
    <div class="form-group">
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a class="btn btn-outline-primary" href="@Url.Action("GetPaymentMethod", "Admin")">Назад</a>
    </div>
}

