@model CloudStore.Models.StatusProduct

@{
    ViewBag.Title = "Delete status product";
}

<h1>Do you want to delete this status product: <b>@Model.StatusProductName</b>?</h1>

@using (Html.BeginForm())
{
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-dark" href="@Url.Action("GetStatusProduct", "Admin")">Back</a>
    </div>
}
