@model CloudStore.Models.Manufacturer

@{
    ViewBag.Title = "Manufacturer deleting";
}

<h1>Are you sure you want to delete manufacturer: <b>@Model.ManufacturerName</b>?</h1>

@using (Html.BeginForm())
{
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-default" href="@Url.Action("GetManufacturer", "Admin")">Back</a>
    </div>
}

