@model CloudStore.Models.TypeDelivery

@{
    ViewBag.Title = "Удаление типа доставки";
}

<h1>Вы точно хотите удалить тип доставки: <b>@Model.TypeDeliveryName</b>?</h1>

@using (Html.BeginForm())
{
    <div class="form-group">
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a class="btn btn-default" href="@Url.Action("GetTypeDelivery", "Admin")">Назад</a>
    </div>
}

