@model CloudStore.Models.Manufacturer

@{
    ViewBag.Title = "Удаление производителя";
}

<h1>Вы точно хотите удалить производителя: <b>@Model.ManufacturerName</b>?</h1>

@using (Html.BeginForm())
{
    <div class="form-group">
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a class="btn btn-default" href="@Url.Action("GetManufacturer", "Admin")">Назад</a>
    </div>
}

