@model CloudStore.Models.TypeDelivery

@{
    ViewBag.Title = "Type delivery deleting";
}

<h1>Are you sure you want to delete delivery type: <b>@Model.TypeDeliveryName</b>?</h1>

@using (Html.BeginForm())
{
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-default" href="@Url.Action("GetTypeDelivery", "Admin")">Back</a>
    </div>
}

