@model CloudStore.Models.ApplicationUser

@{
    ViewBag.Title = "User deleting";
}

<h1>Are you sure you want to delete user: <b>@Model.UserName</b>?</h1>

@using (Html.BeginForm())
{
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-dark" href="@Url.Action("GetUser", "Admin")">Back</a>
    </div>
}

