@model CloudStore.Models.Category

@{
    ViewBag.Title = "Category deleting";
}

<h1>Are you sure you want to delete category: <b>@Model.CategoryName</b>?</h1>

@using (Html.BeginForm())
{
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-dark" href="@Url.Action("GetCategory", "Admin")">Back</a>
    </div>
}

