@model IBAstore.Models.ApplicationUser

@{
    ViewBag.Title = "Удаление пользователя";
}

<h1>Вы точно хотите удалить пользователя: <b>@Model.UserName</b>?</h1>

@using (Html.BeginForm())
{
    <div class="form-group">
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a class="btn btn-default" href="@Url.Action("GetUser", "Admin")">Назад</a>
    </div>
}

