
@{
    ViewBag.Title = "Панель администратора";
}

<h2>Панель администратора</h2>

<div class="row content">
    <div class="col-md-3">       
        <div class="panel panel-default">
            <div class="panel-heading">Данные о пользователях</div>
            <div class="panel-body">                
                    <div class="list-group">
                        <a href="Index" class="list-group-item">Роли</a>
                        <a href="#" class="list-group-item">Пользователи</a>                        
                    </div>                 
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Данные о товарах</div>
            <div class="panel-body">                
                    <div class="list-group">
                        <a href="Index" class="list-group-item">Производители</a>
                        <a href="#" class="list-group-item">Статусы</a>
                        <a href="#" class="list-group-item">Категории</a>
                        <a href="#" class="list-group-item">Товары</a>
                    </div>                
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Данные о доставках</div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="Index" class="list-group-item">Типы</a>
                    <a href="#" class="list-group-item">Статусы</a>                    
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Данные о заказах</div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="Index" class="list-group-item">Способы оплаты</a>                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        
        <p>В разработке)</p>
        
    </div>    
</div>


