
@{
    ViewBag.Title = "Заказ";
}

<h2>Спасибо!</h2>

<p>Ваш заказ успешно принят.</p>
<p>Подробности и статус заказа вы можете посмотреть в <a href="@Url.Action("Index", "Manage")">профиле</a>.</p>

<a class="btn btn-default" href="@Url.Action("Index", "Home")">Назад</a>

