@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Морза Вячеслав<br />    
    <abbr title="Phone">+375291427254</abbr>
    425.555.0100
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:bloodreek@gmail.com">bloodreek@gmail.com</a><br />
    
</address>