@{
    ViewBag.Title = "Contacts";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Email:</strong>   <a href="mailto:bloodreek@gmail.com">bloodreek@gmail.com</a>    
</address>