
@{
    ViewBag.Title = "Order";
}

<h2>Thanks!</h2>

<p>Your order has been successfully received.</p>
<p>Details and order status can be found in<a href="@Url.Action("Index", "Manage")"</a>profile.</p>

<a class="btn btn-default" href="@Url.Action("Index", "Home")">Back</a>

